@model ExploreViewModel
@using Microsoft.AspNetCore.Http
<link rel="stylesheet" href="https://cdn.rawgit.com/bantikyan/icheck-bootstrap/master/icheck-bootstrap.min.css">
@{
    int currentPage = ViewBag.CurrentPage ?? 1;
    int previousPage = currentPage > 1 ? currentPage - 1 : 1;
    int nextPage = currentPage + 1;
}
@if (currentPage > 1)
{
    <a asp-action="SortByTag" asp-route-page="@previousPage">Previous</a>
}
<a asp-action="SortByTag" asp-route-page="@nextPage">Next</a>
@{
    ViewBag.Title = "Explore";


    <div class="container">
        <div class="top-section" style="border: 1px solid black;">
            <form method="post" asp-area="" asp-controller="Explore" asp-action="SortByTag">
                <div class="text-left">
                    <style>
                        .form-check {
                            display: inline-block;
                            width: 30%;
                        }
                    </style>

                    @for (int i = 0; i < Model.HashTags.Count(); i++)
                    {
                        @Html.HiddenFor(m => m.HashTags[i].Id)
                        @Html.HiddenFor(m => m.HashTags[i].Name)
                        <div class="form-check">
                            @Html.CheckBoxFor(m => m.HashTags[i].IsSelected, new { @class = "form-check-input", id = $"HashTags_{i}__IsSelected" })
                            <label class="form-check-label" for="@($"HashTags_{i}__IsSelected")">@Model.HashTags[i].Name</label>
                        </div>
                    }
                    <button type="submit">Submit</button>

                </div>
            </form>
        </div>
        <div class="col-lg-12">
            <div class="card mb-4">
                <div class="card-body">
                    @if (Model.PicturesIds != null && Model.PicturesIds.Count > 0)
                    {
                        <div style="display: flex; flex-wrap: wrap;">
                            @foreach (var picture in Model.PicturesIds)
                            {
                                @await Html.PartialAsync("_PictureGalleryPartial", picture)
                            }
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
}

