@model List<HashTagViewModel>
<style>
    .form-check {
        width: 25%;
        padding: 5px;
    }

    .btn-custom {
        background-color: #517592;
        color: #fff;
        margin: 5px;
        width: 100%;
    }

        .btn-custom.checked {
            background-color: dodgerblue;
        }
</style>

<div class="d-flex flex-wrap">
    @for (int i = 0; i < Model.Count(); i++)
    {
        @Html.HiddenFor(m => m[i].Id)
        @Html.HiddenFor(m => m[i].Name)
        <div class="form-check">
            @Html.CheckBoxFor(m => m[i].IsSelected, new { @class = "form-check-input d-none", id = $"HashTags_{i}__IsSelected" })
            <label class="form-check-label w-100" for="@($"HashTags_{i}__IsSelected")">
                <span class="btn btn-custom">@Model[i].Name.Replace("_", " ")</span>
            </label>
        </div>
    }
</div>
